@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --side-bar-color: #3d817b;
  --panel-bg-color: #14171b;
  --panel-item-color: #a5a5a5;
}
.app {
  box-sizing: border-box;
  background-color: #f6f5f5;
  font-family: "Roboto", sans-serif;
}

.col-2 {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 40px;
}
.rounded-border {
  border-radius: 6px;
}
.border-grey {
  border: 1px solid #eeedeb;
}

.bg-white {
  background-color: white;
}
.nav-bar-comp-padding {
  padding: 4px 6.5px;
}
.rounded-border-full {
  border-radius: 100px;
}
.flex-box {
  display: flex;
  justify-content: space-between;
}

.box-shadow-8 {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.main-row {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Navbar */
.nav-bar {
  padding: 8px 15px;
  font-size: 16px;
  align-items: center;
  margin-top: 10px;
}
.nav-bar-left {
  font-size: 15px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.options {
  border-radius: 20px;
}
.options select {
  border: none;
  outline: none;
}

.flag {
  display: flex;
  height: 20px;
  width: 20px;
}
.flag img {
  overflow: hidden;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}
.user {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f5f5;
  gap: 8px;
  height: 25px;
  border-radius: 15px;
}
.user img {
  overflow: hidden;
  border-radius: 100%;
  height: 100%;
  width: 100%;
}

/* Side.bar */
.brand-space {
  padding: 10px 20px;
  margin-bottom: 0.5rem;
}
.brand-name {
  font-size: 20px;
  font-weight: 500;
}
.dashboard-btn {
  margin-left: 20px;
  display: flex;
  width: 85%;
  align-items: center;
  padding: 6px 10px;
  border: none;
  background: var(--side-bar-color);
  color: white;
  margin-bottom: 1rem;
}
.toggle-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 7px;
}

.panel-title {
  color: var(--side-bar-color);
}
.panel-items {
  background-color: var(--panel-bg-color);
  color: var(--panel-item-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.panel-item {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px 7px;
  cursor: pointer;
}
.panel-item:hover {
  background-color: #4b4b4b;
}
.panel-item-icon {
  font-size: 20px;
}
.panel-item-title {
  font-size: 15px;
}
.panel-item-expandable {
  position: absolute;
  right: 5px;
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.stats-image-title {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  & .stats-image {
    width: 50px;
    height: 50px;
  }
  & img {
    width: 100%;
    height: 100%;
  }
}
.stat-image {
  width: 60px;
  height: 40px;
  & img {
    width: 100%;
    height: 100%;
  }
}
.stats-title {
  font-size: 19px;
  font-weight: 900;
}
.stats-description {
  font-size: 13px;
  color: var(--panel-item-color);
}
.stats-row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.stats-row-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.stats-row-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.stats-data {
  display: flex;
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
  justify-content: space-between;
}
.stats-data-title-1 {
  font-size: 13px;
  display: flex;
  align-items: center;
}
.stats-data-stat-1 {
  font-size: 20px;
  font-weight: 800;
  display: flex;
  align-items: center;
}
.stats-data-attribute-1 {
  font-weight: 300;
  font-size: 10px;
  color: var(--panel-item-color);
}

.tab-2 {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
}

/* Info */
.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.card {
  background-color: white;
  max-height: 520px;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.container-scroll {
  position: relative;
  overflow-y: auto;
  scrollbar-width: none;
}
.wrapper {
  position: absolute;
  border-radius: 10px;
  left: 0px;
  right: 0px;
  height: 10%;
  bottom: 0px;
  background: linear-gradient(
    180deg,
    rgba(139, 167, 32, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
.card-title {
  font-size: 20px;
  font-weight: 900;
}
.card-description {
  font-size: 13px;
  font-weight: 300;
  color: var(--panel-item-color);
}
.card-content {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.assistant {
  display: flex;
  align-items: center;
  position: relative;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #eeedeb;
  width: 220px;
  &:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    cursor: pointer;
    border: 1px solid #eeedeb;
  }
}

.assistant-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  & img {
    width: 100%;
    height: 100%;
  }
}

.assistant-rating {
  position: absolute;
  right: 10px;
  color: rgb(225, 225, 0);
}

.assistant-type {
  font-size: 10px;
  color: var(--side-bar-color);
}
.template {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 220px;
  padding: 10px;
  position: relative;
  border: 1px solid #eeedeb;
  border-radius: 10px;
  &:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    cursor: pointer;
    border: 1px solid #eeedeb;
  }
}

.template-title {
  font-weight: 700;
}
.template-description {
  font-size: 13px;
}
.template-rating {
  position: absolute;
  right: 10px;
  color: rgb(225, 225, 0);
}

.template-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  & img {
    width: 100%;
    height: 100%;
  }
}

/* Graph */
.graph {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.graph-title {
  font-size: 20px;
  font-weight: 900;
}
.month {
  font-size: 10px;
  color: var(--panel-item-color);
  font-weight: 300;
}
.graph-desc {
  font-size: 10px;
  color: var(--panel-item-color);
  font-weight: 300;
}

.graph-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.graph-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.graph-control {
  background-color: var(--panel-bg-color);
  padding: 3px;
  & select {
    background-color: var(--panel-bg-color);
    color: white;
    border: none;
    font-size: 12px;
    font-weight: 300;
    outline: none;
  }
}
